# Module 6 Challenge

https://courses.bootcampspot.com/courses/1225/assignments/24836?module_item_id=497974

Self-note: refer to WeatherPy.ipynb for code demonstrations performed throughout the modules.

## Deliverable 2. Create a Customer Travel Destinations Map.

Use input statements to retrieve customer weather preferences, then use those preferences to identify potential travel destinations and nearby hotels. Then, show those destinations on a marker layer map with pop-up markers.

[x] 1. Create a folder called Vacation_Search.

[x] 2. Download the Vacation_Search_starter_code.ipynb file into your Vacation_Search folder, and rename it Vacation_Search.ipynb.

[x] 3. In the Vacation_Search.ipynb file, make sure the dependencies and API keys are imported correctly.

[x] 4. Use the instructions below to add code where indicated by the numbered-step comments in the starter code file.

[x] 5. In Step 1, import the WeatherPy_Database.csv file from your Weather_Database folder from Deliverable 1 as a DataFrame.

[x] 6. In Step 2, write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

[x] 7. In Step 3, use the loc method to filter the city_data_df DataFrame for temperature criteria collected in Step 2, then create a new DataFrame.

[x] 8. In Steps 4a-b, determine if there are any empty rows, then drop them if necessary and create a new DataFrame.

[x] 9. In Steps 5a-b, use the provided code to create a new DataFrame, hotel_df, that will hold the hotel names from the hotel search in Steps 6a-6f.

[x] 10. In Step 6a, we have supplied the search parameters, which are the same as in this module, that youâ€™ll need to use to search for a hotel for each city in Steps 6b-f.

[x] 11. In Steps 6b-f, iterate through the hotel_df DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters from Step 6a, then add the hotel name to the hotel_df DataFrame. If a hotel isn't found, skip to the next city.

[x] 12. In Step 7, drop any rows in the hotel_df DataFrame where a hotel name is not found.

    [x] Before exporting your DataFrame as a CSV, take a moment to confirm that your hotel_df 
    DataFrame looks similar to the image.

[x] 13. In Steps 8a-b, create an output file to store the hotel_df DataFrame as WeatherPy_vacation.csv in the Vacation_Search folder.

[x] 14. In Step 9, add the city name, the country code, the weather description, and the maximum temperature for the city to the info_box_template format template we have provided.

[x] 15. In Step 10a, use the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the hotel_info list.

[x] 16. In Step 10b, use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame.

[x] 17. In Steps 11a-b, refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

[x] 18. Take a screenshot of your map and save it to the Vacation_Search folder as WeatherPy_vacation_map.png.

    [x] The marker layer map with a pop-up marker for each city should look similar to the image.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pevek,RU,69.7008,170.3133,38.01,83,82,12.10,broken clouds
1,1,Ribeira Grande,PT,38.5167,-28.7000,64.78,80,10,13.78,clear sky
2,2,San Quintin,MX,30.4833,-115.9500,74.52,59,8,14.99,clear sky
3,3,Thompson,CA,55.7435,-97.8558,66.36,32,75,5.75,broken clouds
4,4,San Cristobal,VE,7.7669,-72.2250,66.38,99,95,3.56,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

clean_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Rikitea,PF,-23.1203,-134.9692,75.78,78,59,15.70,broken clouds
9,9,Tuni,IN,17.3500,82.5500,78.12,89,100,5.53,light rain
10,10,Kavaratti,IN,10.5669,72.6420,82.08,80,100,24.02,moderate rain
14,14,Salalah,OM,17.0151,54.0924,82.49,83,75,4.61,broken clouds
19,19,Shaoyang,CN,27.2315,111.4525,79.84,80,28,5.21,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
657,657,Bemidji,US,47.4736,-94.8803,79.38,61,40,11.50,scattered clouds
658,658,Kupang,ID,-10.1667,123.5833,79.38,75,91,14.03,overcast clouds
660,660,Payson,US,40.0444,-111.7321,86.92,24,40,6.91,scattered clouds
661,661,Topolobampo,MX,25.6000,-109.0500,87.60,51,1,8.05,clear sky
663,663,Jatiroto,ID,-7.8833,111.1167,77.63,82,72,3.94,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_data_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_data_df = clean_data_df.dropna()
clean_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Rikitea,PF,-23.1203,-134.9692,75.78,78,59,15.70,broken clouds
9,9,Tuni,IN,17.3500,82.5500,78.12,89,100,5.53,light rain
10,10,Kavaratti,IN,10.5669,72.6420,82.08,80,100,24.02,moderate rain
14,14,Salalah,OM,17.0151,54.0924,82.49,83,75,4.61,broken clouds
19,19,Shaoyang,CN,27.2315,111.4525,79.84,80,28,5.21,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
657,657,Bemidji,US,47.4736,-94.8803,79.38,61,40,11.50,scattered clouds
658,658,Kupang,ID,-10.1667,123.5833,79.38,75,91,14.03,overcast clouds
660,660,Payson,US,40.0444,-111.7321,86.92,24,40,6.91,scattered clouds
661,661,Topolobampo,MX,25.6000,-109.0500,87.60,51,1,8.05,clear sky
663,663,Jatiroto,ID,-7.8833,111.1167,77.63,82,72,3.94,broken clouds

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,75.78,broken clouds,-23.1203,-134.9692,
9,Tuni,IN,78.12,light rain,17.3500,82.5500,
10,Kavaratti,IN,82.08,moderate rain,10.5669,72.6420,
14,Salalah,OM,82.49,broken clouds,17.0151,54.0924,
19,Shaoyang,CN,79.84,scattered clouds,27.2315,111.4525,
23,Dongsheng,CN,79.83,broken clouds,39.8161,109.9776,
24,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
37,Hithadhoo,MV,82.92,broken clouds,-0.6000,73.0833,
39,Kismayo,SO,76.75,broken clouds,-0.3582,42.5454,
40,Georgetown,MY,78.73,few clouds,5.4112,100.3354,

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in clean_hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,75.78,broken clouds,-23.1203,-134.9692,People ThankYou
9,Tuni,IN,78.12,light rain,17.3500,82.5500,Sai Krishna Lodge
10,Kavaratti,IN,82.08,moderate rain,10.5669,72.6420,Hotels in Lakshadweep Islands
14,Salalah,OM,82.49,broken clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
19,Shaoyang,CN,79.84,scattered clouds,27.2315,111.4525,IU Hotel Shaoyang Xihu Road
...,...,...,...,...,...,...,...
657,Bemidji,US,79.38,scattered clouds,47.4736,-94.8803,Hampton Inn & Suites Bemidji
658,Kupang,ID,79.38,overcast clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
660,Payson,US,86.92,scattered clouds,40.0444,-111.7321,Quality Inn Payson I-15
661,Topolobampo,MX,87.60,clear sky,25.6000,-109.0500,Hotel Marina Topolobampo
663,Jatiroto,ID,77.63,broken clouds,-7.8833,111.1167,Mushola Al Huda

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))